.header-container {
  background: url('/assets/jumbotron.png');
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 70px 0;
  position: relative;
  text-align: center;

  .header-description {
    h1 {
      font-size: 400%;
      font-weight: bold;
    }

    p { 
      font-size: 100%;
      font-family: "Verdana", Geneva, sans-serif;
      font-weight: lighter;
      margin-bottom: 60px;
    }

    .resume {
      .btn-custom {
        background: #76afd0;
        border: #76afd0;
        color: white;
        font-size: 140%;
        height: 40px;
        left: 250px;
        text-shadow: none;
        width: 160px;

        &:hover { background: #90a967; }

        i { margin-top: 10px; }

        .btn-blog {}

        .btn-resume {}
      }
    }
  }
}

.social {
  background: #E8E8E8;
  border-bottom: 3px solid #D8D8D8;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;

  .social-container {
    .social-links {
      margin: 0 auto;
      margin-bottom: -3px;
      overflow: auto;
      text-align: center;
      width: 50%;

      .social-link {
        //inline = text, block = div elements position
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;

        a {
          color: #666;
          display: block;
          padding-top: 60px;
          text-align: center;
          text-decoration: none;
          width: 150px;
        }
      }

      .linkedin {
        border-bottom: 3px solid #76afd0;
        &:hover { border-bottom: 3px solid #D8D8D8; cursor: pointer; }
      }

      .github {
        border-bottom: 3px solid #be594e;
        &:hover { border-bottom: 3px solid #D8D8D8; cursor: pointer; }
      }

      .twitter {
        border-bottom: 3px solid #90a967;
        &:hover { border-bottom: 3px solid #D8D8D8; cursor: pointer; }
      }
    }
  }
}

.intro-container {
  color: #888888;
  font-size: 20px;
  overflow: auto;
  text-align: center;

  hr { 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    border: 0;
    height: 3px;
    margin: 57px auto 0;
  }

  h1 {
    color: #484848;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin: 60px 0 10px;
  }

  p { font-family: "Verdana", Geneva, sans-serif; }

  .icon { color: #404040; display: inherit; margin: 15px auto 20px; }

  .language-info {
    display: inline-block;
    font-family: "Verdana", Geneva, sans-serif;
    width: 350px;
  }

  .generic-info-container {
    color: #686868;
    display: inline-block;
    font-size: 15px;
    overflow: auto;

    .generic-info {
      float: left;
      font-family: "Verdana", Geneva, sans-serif;
      margin: 0 auto;
      width: 200px;

      a {
        text-decoration: none;
        &:hover { font-weight: bold; }
      }

      #argonaut { color: #be594e; }
      #geocodr  { color: #90a967; }
      #ringbase { color: #d8a443; }
    }
  }
}
