.intro-container {
  background: url('/assets/jumbotron.png');
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 70px 0;
  position: relative;
  text-align: center;

  .intro-description {
    h1 {
      font-size: 400%;
      font-weight: bold;
    }

    p { 
      font-size: 125%;
      font-weight: lighter;
      margin-bottom: 60px;
    }

    .resume {
      .btn-custom {
        background: #76afd0;
        border: #76afd0;
        color: white;
        font-size: 140%;
        height: 40px;
        left: 250px;
        text-shadow: none;
        width: 160px;

        i { margin-top: 10px; }

        .btn-blog {}

        .btn-resume {}
      }
    }
  }
}

.social {
  background: #E8E8E8;
  border-bottom: 3px solid #D8D8D8;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  //height: 80px;
  text-align: center;

  .social-container {

    .social-links {
      margin: 0 auto;
      margin-bottom: -3px;
      overflow: auto;
      text-align: center;
      width: 50%;

      .social-link {
        //inline = text, block = div elements position
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;

        a {
          color: #666;
          display: block;
          padding-top: 60px;
          text-align: center;
          text-decoration: none;
          width: 150px;
        }
      }

      .linkedin {
        border-bottom: 3px solid #76afd0;
        &:hover { border-bottom: 3px solid #D8D8D8; cursor: pointer; }
      }

      .github {
        border-bottom: 3px solid #be594e;
        &:hover { border-bottom: 3px solid #D8D8D8; cursor: pointer; }
      }

      .twitter {
        border-bottom: 3px solid #90a967;
        &:hover { border-bottom: 3px solid #D8D8D8; cursor: pointer; }
      }
    }

  }
}
