<section class="intro-container">
  <h1> Hey, I'm Pete! </h1>
  <p> I love functional programming with interests in machine learning
      and web backends.
  </p>
</section>

<div class="social">
</div>
