<section class="header-container">
  <div class="header-description">
    <h1> Hey, I'm Pete! </h1>
    <p> I love functional programming and have interests
        in devops and web backends.
    </p>

    <div class="resume">
      <%= link_to "posts#index", class: "btn btn-primary btn-custom btn-blog" do %>
        <i class="fa fa-list-ul"></i>
        Blog
      <% end %>

      <a class="btn btn-primary btn-custom btn-resume" href="/PeteCruz_Resume.pdf" target="_blank">
        <i class="fa fa-file"></i>
        Resume
      </a>
    </div> <!--resume-->
  </div> <!--header-description-->
</section> <!--header-container-->

<div class="social">
  <div class="social-container">
    <div class="social-links">
      <div class="linkedin social-link">
        <a href="http://www.linkedin.com/in/petecruz">
          <i class="fa fa-linkedin-square"></i>
          LinkedIn
        </a>
      </div>

      <div class="github social-link">
        <a href="http://www.github.com/Petesta">
          <i class="fa fa-github"></i>
          Github
        </a>
      </div>

      <div class="twitter social-link">
        <a href="http://www.twitter.com/iPetesta">
          <i class="fa fa-twitter"></i>
          Twitter
        </a>
      </div>
    </div> <!--social-links-->
  </div> <!--social-container-->
</div> <!--social-->

<section class="intro-container">
  <div class="lang-container">
    <h1>Favorite Languages</h1>
    <p>Ruby, Scala, Haskell</p>

    <div class="icons">
      <i class="fa fa-code fa-3x icon"></i>
      <br/>
      My go to languages are Ruby and Scala for personal languages and rapidly
      prototype. Lately I've been using Haskell. Used for general backend
      and web apps!
    </div>
  </div>

  <hr>

  <div class="backend-container">
    <h1>Web Backends</h1>
    <p>Rails, Play, Unfiltered</p>

    <div class="icons">
      <i class="fa fa-gears fa-3x icon"></i>
      <br/>
    </div>
  </div>

  <hr>

  <div class="projects-container">
    <h1>Projects</h1>
    <p>Personal, Hackathons</p>

    <div class="icons">
      <i class="fa fa-folder-open fa-3x icon"></i>
      <br/>
    </div>
  </div>
</section>
