<section class="intro-container">
  <h1> Hey, I'm Pete! </h1>
  <p> I love functional programming with interests in devops
      and web backends.
  </p>
</section>

<div class="social">
  <div class="social-container">
    <div class="social-links">
      <span class="linkedin">
        <i class="fa fa-linkedin"></i>
        <a href="http://www.linkedin.com/in/petecruz">LinkedIn</a>
      </span>
      <span class="github">
        <i class="fa fa-github"></i>
        <a href="http://www.github.com/Petesta">Github</a>
      </span>
      <span class="twitter">
        <i class="fa fa-twitter"></i>
        <a href="http://www.twitter.com/iPetesta">Twitter</a>
      </span>
    </div>
  </div>
</div>
