<div class="span-5 sidebar">
  <center>
    <div class="avatar">
    <%= image_tag avatar_url %>
    </div>
  </center>

  <p>
    I'm a computer science major at the University of California, Santa Barbara
    who's a fanatic Vim user and love learning new technologies.
  </p>
</div>
