<div class="span-5 sidebar">
  <center><div class="avatar">
    <%= image_tag avatar_url %>
  </div></center>

  <h2>About Me</h2>

  <p>
    I'm a computer science major at the University of California, Santa Barbara.
    Avid Vim user, functional enthusiast, ops, and just love learning new things.
  </p>
</div>
