<div class="span-6 sidebar">
  <h2>
    About Me
  </h2>
  <p>
    I'm a computer science major at the University of California, Santa Barbara
    who is an avid vim user and loves security.
  </p>
</div>
