<% if signed_in? %>
  <%= link_to "Create new post", new_post_path %>
<% end %>

<center><div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title">
        <%= post.title %>
      </div>
      <div class="post-content">
        <%= post.body %>
      </div>
    </div>
  <% end %>
</div></center>
