form {
  border: 1px solid #ccc;
  margin: 50px auto 0;
  padding: 10px;
  width: 400px;

  label {
    display: none;
    margin-bottom: 5px;
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
