html, body { height: 100%; }

header {
  height: 45px;
  background-color: black;
  margin-bottom: 15px;
  padding: 5px;

  .bar {
    padding: 15px 0 5px;
    margin-bottom: 10px;

    .span-8 {
      height: 30px;
    }

    p {
      font-size: 125%;
      color: white;
      margin-right: 20px;
      text-decoration: none;
      display: inline;
    }

    a {
      color: white;
      font-size: 100%;
      margin-right: 15px;
      text-decoration: none;

      &:hover {
        height: 5px;
        border-radius: 2px;
        background-color: #404040;
        text-decoration: none;
      }
    }
  }

  .bar #one {}
  .bar a.line {}
}

body {
  padding-bottom: 60px;
}

.container {
  min-height: 100%;
  margin-bottom: -40px;

  &:after {
    content: "";
    display: block;
  }
}

footer {
  color: white;
  background-color: black;
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
  bottom: 0px;
}

footer, .container:after { height: 40px; }
