html, body { height: 100%; }

header {
  height: 45px;
  background-color: black;
  margin-bottom: 15px;
  padding: 5px;

  .bar {
    display: inline-block;
    padding: 15px 0 5px;
    margin-bottom: 15px;

    p {
      font-size: 135%;
      color: white;
      margin-right: 20px;
      text-decoration: none;
      display: inline;
    }

    a {
      color: white;
      font-size: 100%;
      padding: 7px 4px;
      text-decoration: none;

      .link2 { margin-left: 10px; }

      &:hover {
        cursor: pointer;
        border-radius: 3px;
        background-color: #404040;
        text-decoration: none;
      }
    }
  }
}

body {
  padding-bottom: 60px;
}

.container {
  min-height: 100%;
  margin-bottom: -40px;

  &:after {
    content: "";
    display: block;
  }
}

footer {
  color: white;
  background-color: black;
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
  bottom: 0px;
}

footer, .container:after { height: 40px; }
