html, body { height: 100%; }

header {
  background-color: black;
  height: 55px;
  margin-bottom: 15px;
  padding: 5px;

  .bar {
    display: inline-block;
    padding: 15px 0 5px;

    .nav { margin-bottom: 25px; }

    p {
      color: white;
      display: inline;
      font-size: 135%;
      margin-right: 20px;
      text-decoration: none;
    }

    a {
      color: white;
      font-size: 100%;
      padding: 7px 4px;
      text-decoration: none;

      .link2 { margin-left: 10px; }

      &:hover {
        background-color: #404040;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

body {
  background-color: #F0F0F0;
  padding-bottom: 60px;
}

.container {
  margin-bottom: -40px;
  min-height: 100%;

  &:after {
    content: "";
    display: block;
  }
}

footer {
  background-color: black;
  bottom: 0px;
  color: white;
  line-height: 40px;
  margin-top: 15px;
  text-align: center;

  a {
    color: #119EE7;
    text-decoration: none;
  }
}

footer, .container:after { height: 40px; }
