html, body { height: 100%; }

header {
  background: url('/assets/jumbotron.png');
  font-family: 'Helvetica Neue', Arial, sans-serif;
  left: 0;
  overflow: auto;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;

  .btn-home {
    background: #76afd0;
    border: #76afd0;
    color: #FFFFFF;
    float: left;
    height: 11px;
    margin: 12px 0 7px 15px;
    position: relative;
    text-shadow: none;
    
    &:hover { background: #90a967; color: #FFFFFF; }
  }

  .header-info {
    color: #76afd0;
    font-size: 155%;
    font-weight: bold;
    padding-top: 8px;
    text-align: center;
  }
}

body {
  background-color: #F8F8F8;
  padding-bottom: 60px;
}

.container {
  &:after {
    content: "";
    display: block;
  }
}

footer {
  background: url('/assets/jumbotron.png');
  bottom: 0px;
  line-height: 40px;
  margin-top: 55px;
  text-align: center;

  a {
    color: #119EE7;
    text-decoration: none;
  }
}

footer { height: 40px; }
