$gray-border: #ccc;

.posts-container { border-color: blue; }

#new-post { margin-left: 648px; }

.post {
  @extend whitebox;
  $light-border: lighten($gray-border, 2);
  background-color: #F8F8F8;
  border: solid 1px black;
  border-radius: 15px;
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 0;
  word-wrap: break-word;

  .post-date {
    font-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
  }


  .post-title {
    border-bottom: 1px solid $light-border;
    color: #404040;
    padding: 2px 15px 0px;
    text-align: left;

    h2 {
      font-size: 1.8em;
      margin-bottom: 0;
    }
  }

  .post-content {
    color: #606060;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-top: 8px
  }
}

.new-post-title { margin-bottom: 10px; }

.submit {
  margin-left: 325px;
  margin-top: 10px;
}
