// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray-border: #ccc;

.post-container {
  margin-left: 250px;
  margin-right: 250px;
}

.post {
  @extend whitebox;
  $light-border: lighten($gray-border, 2);
  border: solid 1px $light-border;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 0;
  word-wrap: break-word;

  .post-title {
    border-bottom: 1px solid $light-border;
    padding: 10px 15px 0px;
    text-align: center;
    color: #404040;

    h2 {
      font-size: 1.8em;
      margin-bottom: 0;
    }
  }

  .post-content {
    text-align: center;
    color: #606060;
  }
}

.new-post-title {
  margin-bottom: 10px;
}

.submit {
  margin-top: 10px;
}
