.sidebar {
  margin-left: 775px;

  .avatar {
    border: 1px solid white;
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 45px;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
  }

  .avatar {
    background: rgba(0, 0, 0, 0.2);
  }

  .avatar img {
      border: 5px solid rgba(0, 0, 0, 0.2);
      border-radius: 45px;
      width: 80px;
      height: 80px;
  }

  h2 {
    border-bottom: 1px solid grey;
    font-size: 20px;
    font-style: bold;
    margin: 20px 0 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
  }

  p {
    border-bottom: 1px solid grey;
    font-size: 15px;
    padding-bottom: 5px;
  }
}
