.sidebar {
  margin-left: 775px;

  h2 {
    border-bottom: 1px solid grey;
    font-size: 20px;
    font-style: bold;
    margin: 20px 0 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
  }

  p {
    border-bottom: 1px solid grey;
    font-size: 15px;
    padding-bottom: 5px;
  }
}
